@using static ResearchModule.Extensions.ValueExtension
@model ResearchModule.Models.User
@{
    ViewData["Title"] = "Профиль";
    //Url.ActionContext.HttpContext.Request.Path
    var roles = (ViewData["roles"] != null) ? ViewData["roles"] as IList<string> : null;
}

@if (Model == null)
{
    <div>Пользователь не найден</div>
    return;
}
@{
    var haveAuthor = Model.Author != null;
}
<div class="row">
    <div class="col-md-12">
        <h2>
            Профиль <a href="@Url.Action("ChangeUser", "Account", new { name = Model.UserName, returnUrl = Url.Action("Profile", "Account", new { name = Model.UserName }) } )"
                       class="btn btn-default">Редактировать</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12 propertyDisplay">
        <div class="">
            <h4>@(haveAuthor ? Model.Author.ToStringFormat() : Model.UserName.TrimEnd(' '))</h4>
        </div>
        <div class="">
            <div class="propertyName">Почта:</div>
            <div>@(Model.Email ?? "")</div>
        </div>
        <div class="">
            <div class="propertyName">День рожденья:</div>
            <div>@(haveAuthor ? Model.Author.BDay.ToShortDateString() : "Не указано")</div>
        </div>
        <div class="">
            <div class="propertyName">Права доступа:</div>
            <div>
                @if (roles == null || roles.Count == 0)
                {
                    @("Не указано")
                }
                else
                {
                    @string.Join(",", roles)
                }
            </div>
        </div>
        @if (roles.Count != 0 && roles.FirstOrDefault(r => r.Equals(RoleInitializer.AdminRole)) != null)
        {
            <div class="propertyName">
                <a href="@Url.Action("Index", "Admin")" class="btn btn-primary">Администрирование</a>
            </div>
        }
        @if (roles.Count != 0 && roles.FirstOrDefault(r => r.Equals(RoleInitializer.AnalystRole)) != null)
        {
            <div class="propertyName">
                <a href="@Url.Action("#", "#")" class="btn btn-info">Статистика</a>
            </div>
        }
    </div>
</div>


<style>
    .propertyName {
        width: 150px;
        margin-bottom: 10px;
    }

    .propertyDisplay > * {
        display: flex;
    }
</style>