@model  ResearchModule.Models.Section
<environment include="Development">
    <link href="~/css/Add.css" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/ResearchModule.js"></script>
</environment>
@(ViewBag.Message)
@using (Html.BeginForm("AddPublication", "Section", FormMethod.Post, new { id = "Add"}))
{
    <div style="margin-top: 30px;">
        <div id="accordion3">
            <input type="hidden" value="@(Model?.Id)" name="Id" />
            <input type="hidden" value="@(Model?.SectionName)" name="SectionName" />
            <h5>@(Model?.SectionName)</h5>
        </div>
        <div id="accordion" role="tablist">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Шаг 1 - Название
                        </a>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                    <div class="card-body">
                        <div class="row">
                            <div class="label-text col-md-4">Название публикации</div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="PublicationName" />
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12">
                                <input type="checkbox" name="IsTranslate" />
                                На иностранном языке
                                <div id="translateThis" style="margin-top:3px;display:none;">
                                    Введите перевод названия публикации
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="accordion0" role="tablist">
            <div class="card">
                <div class="card-header" role="tab" id="heading0">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                            Шаг 2 - Вид
                        </a>
                    </h5>
                </div>
                <div id="collapse0" class="collapse " role="tabpanel" aria-labelledby="heading0" data-parent="#accordion0" style="">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <button id="addType" class="btn btn-default" type="button" onclick="RM.AppendTo('@(Url.Action("AddType", "Add"))','div.col-md-12:has(#addType)', true)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Добавить вид
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="accordion1" role="tablist">
            <div class="card">
                <div class="card-header" role="tab" id="heading1">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            Шаг 3 - Авторы
                        </a>
                    </h5>
                </div>
                <div id="collapse1" class="collapse " role="tabpanel" aria-labelledby="heading1" data-parent="#accordion1" style="">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="dropdown">
                                    <input type="text" class="form-control dropdown-toggle" id="searchAuthor" placeholder="Введите автора" data-toggle="dropdown" onkeyup="RM.SearchInput('searchAuthor','@(Url.Action("GetAuthors", "Add"))')" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button name="addAuthor" class="btn btn-default" type="button" onclick="RM.AppendTo('@(Url.Action("AddAuthor", "Add"))','div.col-md-12:has([name=addAuthor])', false)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Добавить автора
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="accordion2" role="tablist">
            <div class="card">
                <div class="card-header" role="tab" id="heading2">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                            Шаг 4 - Форма работы
                        </a>
                    </h5>
                </div>
                <div id="collapse2" class="collapse " role="tabpanel" aria-labelledby="heading2" data-parent="#accordion2" style="">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-md-12">
                                <button name="addFormWork" class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Добавить формы работы
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-success" onclick="RM.Submit('#Add')">Сохранить</button>
    </div>

}
                        <script type="text/javascript">
    // вынести в отдельный скрипт
    // заменить названия на переменные
    // placeholder
    // создать перед этим div и отправить в этот метод id
    $(":checkbox[name=isTranslate]").click(function () {
        if ($('#translateThis  > *').is(':empty')) {
            $('#translateThis > *').detach();
            $('#translateThis').css("display", "none");
        }
        else {
            var input = $('<input />')
                .attr("type", "text")
                .attr("class", "form-control")
                .attr("name", "TranslateText")
                .attr("placeholder", "Введите перевод названия");
            $('#translateThis').css("display", "block").append(input);
        }
    });
    $('.dropdown-group-item').click(function () {

        RM.DropdownGroupItemClick('.dropdown-group-item');
        //что будет происходитьт после выбора элемента
        //создается div
        //добавляется еще div, внутри которого содержится
        //название, иконка для удаления
        //создать метод для удаления
    });
                        </script>


