@using ResearchModule.Components
@using ResearchModule.Components.Models.Card
@model long
@{
    //настроить стили
    var id = string.Format("Author[{0}].", Model);
    var name = string.Concat(id,"CreateAuthors_");
}


<tr class ="CreateAuthors" id="@name">
    <td class="author_Remove">@Html.Button("", "", Html.Icon("remove"), new { type = "button", onClick = string.Format("Author.remove('"+name+"')", name) })</td>
    <td>@Html.TextBox(id + "Surname", "", new { @class = "form-control", placeHolder = "Фамилия" })</td>
    <td>@Html.TextBox(id + "Name", "", new { @class = "form-control", placeHolder = "Имя" })         </td>
    <td>@Html.TextBox(id + "LastName", "", new { @class = "form-control", placeHolder = "Отчетсво" })</td>
    <td>@Html.TextBox(id + "Weight", "", new { @class = "form-control", placeHolder = "Вес" })       </td>
</tr>