@using ResearchModule.Components
@using ResearchModule.Components.Models
@model List<ResearchModule.Models.Publication>

<br />
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Навание</th>
                <th>Раздел</th>
                <th>Вид</th>
                <th>Форма работы</th>
                <th>Авторы</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                item.GetOutherProperty();
                <tr>
                    <td>@item.PublicationName</td>
                    <td data_id="@item.SectionId">@item.Section.SectionName</td>
                    <td data_id="@item.TypePublicationId">@item.TypePublication.TypePublicationName</td>
                    <td data_id="@item.FormWorkId">@(item.FormWork.ToStringFormat())</td>
                    <td>
                        @foreach (var author in item.AuthorsOfPublication())
                        {
                            <div>@author.ToStringFormat()</div>
                        }
                    </td>
                    <td><a href="@Url.Action("EditPublication", "Add",  new { id = item.Id })" data-toggle="tooltip" title="Редактировать">@Html.Icon("pencil")</a></td>
                </tr>
            }
        </tbody>
    </table>
}


















    @*
        <h3>Список научных работ</h3>
        <table class="table" style="margin-top:30px;">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Вид</th>
                    <th>Раздел</th>
                    <th>Авторы</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="padding: 20px;">
                            @item.PublicationName
                        </td>
                        <td style="padding: 20px;">
                            @item.TypePublicationId
                        </td>
                        <td style="padding: 20px;" onclick="RM.AppendTo('@(Url.Action("Authors", "Section", new { idPublication = item.Id }))', '#Authors', false)">
                            <script type="text/html">
                                $().ready(function(){
                                RM.AppendTo('@(Url.Action("Authors", "Section", new { idPublication = item.Id }))', '#Authors', false);
                                });
                            </script>
                        </td>
                        <td id="Authors"style="padding: 20px;">

                        </td>
                    </tr>
                }
            </tbody>
        </table>*@

