@using ResearchModule.Components
@{
    var name = "SearchAuthorsModal";
}

<div class="modal fade" id="@(name)" role="dialog">
    <div class="modal-dialog" style="width: 900px">

        <!-- Search Authors-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Поиск автора(ов)</h4>
            </div>
            <div class="modal-body">
                @Html.Card(name).Row(s =>
               {
                   s.For().Content(@Html.TextBox("SerchAuthor", "", new { @class = "form-control", placeholder = "Иванов", onkeyUp = "Author.search(this).onKeyUp()" }));
                   s.For().Content("Найдено<div class='Additional" + name + "'>" +
                       @"<table class='table' >
                                <thead><tr><th></th><th>Фамилия</th><th >Имя</th><th>Отчество</th></tr></thead>
                            </table>" +
                       "</div>").Size(6)
                   .Row(@"<div>Выбраны</div>
                         <div>
                            <table class='table' id='SearchResult'>
                                <thead><tr><th data_id='sel'></th><th data_id='sur'>Фамилия</th><th data_id='nam'>Имя</th><th data_id='las'>Отчество</th></tr></thead>
                                <tbody class='SearchResult" + name + @"'></tbody>
                            </table>
                        </div>").Size(6);
                   return s;
               }).Render()

            </div>
            <div class="modal-footer">
                @Html.Button(string.Concat("Button", name), "Добавить", null,
                            new Dictionary<string, object> { { "type", "button" }, { "data-dismiss", "modal" }, { "class", "btn btn-success" }, { "onClick", "Author.searchResult().serialize()" } })
                @Html.Button(string.Concat("ButtonClose", name), "Закрыть", null,
                            new Dictionary<string, object> { { "type", "button" }, { "data-dismiss", "modal" } })
            </div>
        </div>

    </div>
</div>

