@using ResearchModule.Components
@model int

@{
    //настроить стили
    var id = string.Format("Author[{0}].", Model);
    var name = string.Concat(id, "CreateAuthors_");
}


<tr class="CreateAuthors" id="@name">
    <td class="author_Remove">@Html.Button("", "", Html.Icon("remove"), new { type = "button", onClick = string.Format("Author.remove('" + name + "')", name) })</td>
    <td><req-input name="@(id + "Surname")"></req-input></td>
    <td><req-input name="@(id + "Name")"></req-input></td>
    <td><req-input name="@(id + "Lastname")"></req-input></td>
    <td><req-input name="@(id + "BDay")"></req-input></td>
    <td><req-input name="@(id + "Weight")"></req-input></td>
</tr>