@model List<ResearchModule.Models.Author>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
        </tr>
    </thead>
    <tbody id="tbodySearchResult">
        @foreach (var item in Model)
        {
            <tr id="AuthorItem_@item.Id">
                @Html.Hidden("Search[" + item.Id + "].Id", item.Id)
                <td class="author_Remove">@*<input type="checkbox" name="Search[@(item.Id)].Selected" onclick="Author.searchResult().append(this,@(item.Id))" />*@
                    @Html.CheckBox("Search[" + item.Id+"].Selected", false, new { onClick = "Author.searchResult().append(this," + item.Id + ")" })</td>
                <td>@item.Surname</td>
                <td>@item.Name</td>
                <td>@item.LastName</td>
            </tr>
         }
    </tbody>
</table>
