@using ResearchModule.Models
@model IEnumerable<Author>

@foreach (var item in Model)
{
    
    <tr id="AuthorItem_@item.Id">
        @Html.Hidden("Search[" + item.Id + "].Id", item.Id)
        <td class="author_Remove">
            @Html.CheckBox(string.Concat("Selected_",item.Id.ToString()), item.Selected, new { onClick = "Author.searchResult().append(this," + item.Id + ")" })
        </td>
        <td>@item.Surname</td>
        <td>@item.Name</td>
        <td>@item.Lastname</td>
        <td>@item.BDay</td>
    </tr>
}
