@using ResearchModule.Components
@using Microsoft.AspNetCore.Html
@inject ResearchModule.Service.SelectListService SelectListService
@model ResearchModule.Models.Publication

@{
    var formId = "createPublication";
    var name = "Publication.";
}

@using (Html.BeginForm("Create", "Publication", FormMethod.Post, new { id = formId, enctype = "multipart/form-data" }))
{
    <div>
        <div class="row">
            <div class="col-md-4">@Html.DisplayNameFor(m=>m.PublicationName)</div>
            <div class="col-md-8">
               <req-input name="@(name + "PublicationName")"></req-input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.CheckBox("IsTranslate", false, new { onClick = "clickIsTarslate(this)" }) Иностранный язык
            </div>
        </div>
        <div class="row" id="translate_Publication" style="display: none;">
            <div class="col-md-4">@Html.DisplayNameFor(m => m.TranslateText)</div>
            <div class="col-md-8">
                <req-input required="false" name="@(name+ "TranslateText")"></req-input>
            </div>
            <div class="col-md-4 after-row" >Научная работа на</div>
            <div class="col-md-8 after-row" id="languages"></div>
        </div>
        <div class="row">
            <div class="col-md-4">@Html.DisplayNameFor(m => m.PublicationPartition)</div>
            <div class="col-md-8" id="load_select-Section">
                <select-list items="@SelectListService.LoadSelectPublicationPartition()"></select-list>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">@Html.DisplayNameFor(m=>m.PublicationType)</div>
            <div class="col-md-8">
                <input-group-btn 
                                 input ="@Html.SelectList(SelectListService.LoadSelectPublicationType())"
                                 button="@Html.Button("CreateTP", "", Html.Icon("plus"), new { type = "button", onClick = "PublicationTypes.create()" })">
                </input-group-btn>
            </div>
        </div>
        <div class="row CreateTypePublication">
        </div>
        <div class="row">
            <div class="col-md-4">@Html.DisplayNameFor(m => m.PublicationForm)</div>
            <div class="col-md-8" id="load_select-PublicationForm">
                <select-list items="@SelectListService.LoadSelectPublicationForm()"></select-list>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">@Html.DisplayNameFor(m => m.OutputData)</div>
            <div class="col-md-8">
                @Html.TextArea(name + "OutputData",
                    new Dictionary<string, object> {
                        { "class", "form-control" },
                        { "rows", 5 },
                        { "style", "max-width: 100%;" },
                        { "data-val", true },
                        { "data-val-required", "Заполните обязательное поле" }
                    })
            </div>
        </div>
        <div class="row" id="VolumeCreate">
            <div class="col-md-4">@Html.DisplayNameFor(m => m.Volume)</div>
            <div class="col-md-8">
                <req-input name="@(name + "Volume")"></req-input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Файл</div>
            <div class="col-md-8">
                @Html.File("FormFile")
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">Автор</div>
            <div class="col-md-8">
                @Html.Button("CreateAuthors", " Создать", Html.Icon("plus"), new { onClick = string.Format("Author.append('{0}')", Url.Action("CreateForm", "Author")), type = "button" })
                @Html.Button("SearchAuthors", " Найти", Html.Icon("search"),
                          new Dictionary<string, object> { { "type", "button" }, { "data-toggle", "modal" }, { "data-target", "#SearchAuthorsModal" } })
            </div>
        </div>
        <div class="SelectedAuthors">

        </div>
        <div style="margin-top: 10px;">
            @Html.Partial("CreateListOfAuthors")
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.Button("Create", "Сохранить", null, new { type = "button", @class = "btn btn-success", onClick = string.Format("formSubmit('{0}')",formId) })
            </div>
            <div class="col-md-8 info "></div>
        </div>
    </div>
}

@Html.Partial("SearchAuthorModal")


<script type="text/javascript" src="~/js/publication.js"></script>
<script type="text/javascript" src="~/lib/languages/language.js"></script>
<script type="text/javascript" >
    $(function () {
        $("select#Publication_PublicationForm").on('change', { elem: this }, changePublicationForm);
        debugger;
        let selectListLanguage = new language("Publication.text");
        $("#languages").html(selectListLanguage.items);
    });
</script>
