@using ResearchModule.Components
@using ResearchModule.Components.Models.Card
@using Microsoft.AspNetCore.Html
@inject ResearchModule.Service.SelectListService SelectListService
@model ResearchModule.Models.Publication

@{
    // наличие перевода
    var isTranslate = false;//Model.TranslateText != null;
    var formId = "createPublication";
    var name = "Publication.";
    long id = 0;
    string PublicationName = string.Empty;
    long PublicationPartition = 0;
    long PublicationType = 0;
    string TranslateText = string.Empty;
    long PublicationForm = 0;
    if (Model != null)
    {
        PublicationName =    Model.PublicationName;
        PublicationPartition = Model.PublicationPartition;
        PublicationType =      Model.PublicationType;
        TranslateText =      Model.TranslateText;
        PublicationForm =      Model.PublicationForm;
        id = Model.Id;
    }
}

@{
    IHtmlContent Render<T>(Func<T, IHtmlContent> helper, T item = default(T)) =>
    helper(item);

    Func<object, IHtmlContent> CustomCreate(string names, IHtmlContent value, IHtmlContent click) =>
    (@<text>
        <div class="col-md-4">@names</div>
        <div class="col-md-8">
            <div class="input-group">
                @value
                <span class="input-group-btn">
                    @click
                </span>
            </div>
        </div>
        </text>);
}

@using (Html.BeginForm("Create", "Publication", FormMethod.Post, new { id = formId }))
{
    <div style="margin-top: 30px;">
        @Html.Card("Name").Row(
              (Card r) =>
              {
                  r.For()
                      .Content("Название публикации").Size(4)
                      //название публикации
                      .Row(Html.TextBox(name+"PublicationName", PublicationName, new { @class = "form-control" })).Size(8);
                  r.For()
                      .Content(Html.CheckBox("IsTranslate", isTranslate, new { onClick = "clickIsTarslate(this)" })).Size(12)
                      .Content(" Иностранный язык");
                  // перевод
                  r.For().Show(!isTranslate)
                    .Content("Перевод названия")
                    .Class("Translate").Size(4)
                    .Row(Html.TextBox(name+"TranslateText", TranslateText, new { @class = "form-control" })).Size(8);
                  r.For()
                    .Content("Раздел").Size(4)
                  // раздел
                    .Row().Id("load_select-Section").Content(Html.SelectList(SelectListService.LoadSelectPublicationPartition(PublicationPartition))).Size(8);
                  r.For().Size("")
                  //вид публикации
                      .Content(
                          Render(CustomCreate("Вид публикации", Html.SelectList(SelectListService.LoadSelectPublicationType(PublicationType)),
                          Html.Button("CreateTP", "", Html.Icon("plus"), new { type = "button", onClick = "PublicationTypes.create()" }))));
                  r.For().Class("CreateTypePublication");
                  r.For()
                      .Content("Форма работы").Size(4)
                  // форма публикации
                      .Row().Id("load_select-FormWork").Content(Html.SelectList(SelectListService.LoadSelectPublicationForm(PublicationForm))).Size(8);
                  r.For().IsRow(false).Class("CreateFormWork");
                  r.For()
                      .Content("Автор").Size(4)
                      .Row(Html.Button("CreateAuthors", " Создать", Html.Icon("plus"), new { onClick = "Author.append()", type = "button" })).Size(2)
                      .Row(Html.Button("SearchAuthors", " Найти", Html.Icon("search"),
                          new Dictionary<string, object> { { "type", "button" }, { "data-toggle", "modal" }, { "data-target", "#SearchAuthorsModal" } })).Size(4);
                  r.For().Class("SelectedAuthors").Content("");
                  // авторы
                  r.For().IsRow(false).Content(Html.Partial("CreateListOfAuthors", id)).Size("col");
                  r.For().Content("  TODO: Добавьте файл");
                  r.For()
                        .Content(Html.Button("Create", "Сохранить", null, new { type = "button", @class = "btn btn-success", onClick = "formSubmit()" }));

                  return r;
              }
          ).Render()
    </div>
}

@Html.Partial("SearchAuthorModal")



<script type="text/javascript">

    //конвертирование листа на корректные номера
    function convertName(list) {
        let countItem = -1;
        let id;
        for (var item of list) {
            let name = item.name.match(/\d/g)[0];
            if (id != name) {
                id = name;
                countItem++;
            }
            $("[name='" + item.name + "']").attr("name", item.name.replace(/\d/g, countItem));

        }
    }

    // обработка перед submit
    function formSubmit(){
        var searchResult = $("#searchResult").find("[type=hidden], input:checked");
        var createResult = $("#createResult").find("input");
        convertName(searchResult);
        convertName(createResult);
        $("#@(formId)").submit();
    }

    var timers = timers || [];
    timers[0] = 0;
    Author = function () {
        var resultauthorJson = [];
        var countAuthor = 0;
        let c = 0;
        let searchRes = "_SearchResult_SearchAuthorsModal";
        let select = "Selected";
        let add = "Additional";
        return {
            append: function () {
                $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateForm", "Author")?id=' + countAuthor,
                success: function (data) {
                    countAuthor++;
                    $("#createResult").append(data);
                }
                });
            },
            remove: function (cardName) {
                let cardId = "[id$='" + cardName + "']";
                $(cardId).detach();
            },
            search: function (elem) {
                return {
                    onKeyUp: function () {
                        if (elem.value === "") return;
                        clearTimeout(timers[0]);
                        Author.search(elem).start();
                    },
                    start: function () {
                        timers[0] = setTimeout(function () { Author.search(elem).onChange() }, 500);
                    },
                    onChange: function () {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Search", "Author")?character=' + elem.value,
                            success: function (data) {
                                $("#" + add + searchRes).html(data);
                            }
                        });
                    }
                }
            },
            searchResult: function () {
                return {
                    append: function (elem, id) {
                        let selector = "#AuthorItem_" + id;
                        if (elem.checked) {
                            let tr = $(selector).clone();
                            $("#" + select+searchRes).append(tr);
                        }
                        else {
                            $("[name='" + elem.name + "']").attr("checked", false);
                            $("#" + select + searchRes + " " + selector).detach();
                            // данные полученные при поиске
                            $("#searchResult " + selector).detach();
                            // исходные данные при наличии модели
                            $("#getResult " + selector).detach();
                        }
                    },
                    serialize: function () {
                        var searchResult = $("#searchResult").html($("#" + select + searchRes+" tr").clone());
                        searchResult.find("tr:has(td)").append(`<td>@Html.TextBox("Author[00].Weight", "", new { @class="form-control", placeHolder = "Вес" })</td>`);
                    }
                }
            }
        };
    }();


    function clickIsTarslate(e) {
        let display;
        if (e.checked) {
            display = "";
        }
        else {
            display = "none";
        }
        $(".Translate").css("display", display);
    }

    PublicationTypes = function () {
        let name = "PublicationType";
        return {
            create: function () {
                let val =
                `@Render(CustomCreate(
                "Название вида",
                 Html.TextBox("PublicationType.Name", "", new { @class = "form-control ", placeholder = "Название вида" }),
                 Html.Button("Delete", "", Html.Icon("remove"), new { type = "button", onClick = "PublicationTypes.remove()"  })
                ))`;
                $(".CreateTypePublication").html(val);
                disable(".selectpicker_" + name, true);

            },
            remove: function () {
                $(".CreateTypePublication").empty();
                disable(".selectpicker_" + name, false);
            }
        };
    }();
</script>
