@using ResearchModule.Components
@inject ResearchModule.Service.PublicationService PublicationService
@model IEnumerable<ResearchModule.Models.Publication>


<table class="table">
    <thead>
        <tr>
            <th>Навание</th>
            <th>Раздел</th>
            <th>Вид</th>
            <th>Форма работы</th>
            <th>Авторы</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.PublicationName
            </td>
            <td>
                @PublicationService.GetPartitionName(item.PublicationPartition)
            </td>
            <td>
                @PublicationService.GetTypeName(item.PublicationType)
            </td>
            <td>
              @PublicationService.GetFormName(item.PublicationForm)
            </td>
            <td>
                @foreach (var author in PublicationService.GetAuthorsByPublication(item.Id))
                {
                    <div>@author.ToStringFormat()</div>
                }
            </td>
            <td><a href="@Url.Action("Edit", "Publication",  new { id = item.Id })" data-toggle="tooltip" title="Редактировать">@Html.Icon("pencil")</a></td>
        </tr>
}
    </tbody>
</table>
