@using ResearchModule.Components
@using Microsoft.AspNetCore.Html
@{
    var name = "SearchAuthorsModal";
}

@{
    IHtmlContent Render<T>(Func<T, IHtmlContent> helper, T item = default(T)) =>
    helper(item);

    Func<object, IHtmlContent> CustomCreate(string status, string local) =>
    (@<text>
        <div>@(status)</div>
        <div class="@(local)_@(name)">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Дата рождения</th>
                    </tr>
                </thead>
                <tbody id="@(local)_SearchResult_@(name)"></tbody>
            </table>
        </div>
        </text>);
}

<div class="modal fade" id="@(name)" role="dialog">
    <div class="modal-dialog" style="width: 900px">

        <!-- Search Authors-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Поиск авторов</h4>
            </div>
            <div class="modal-body">
                @Html.Card(name).Row(s =>
               {
                   s.For().Content(Html.TextBox("SerchAuthor", "", new { @class = "form-control", placeholder = "Иванов", onkeyUp = "Author.search(this).onKeyUp()" }));
                   s.For()
                        .Content(Render(CustomCreate("Найдено","Additional"))).Size(6)
                        .Row(Render(CustomCreate("Выбраны","Selected"))).Size(6);
                   return s;
               }).Render()

            </div>
            <div class="modal-footer">
                @Html.Button(string.Concat("Button", name), "Добавить", null,
                            new Dictionary<string, object> { { "type", "button" }, { "data-dismiss", "modal" }, { "class", "btn btn-success" }, { "onClick", "Author.searchResult().serialize()" } })
                @Html.Button(string.Concat("ButtonClose", name), "Закрыть", null,
                            new Dictionary<string, object> { { "type", "button" }, { "data-dismiss", "modal" } })
            </div>
        </div>

    </div>
</div>
