@using Microsoft.AspNetCore.Html
@using ResearchModule.Components.Models.Card
@model List<CardRow>

    @if (Model.Count == 0)
    {
        return;
    }
    else
    {
        @foreach(var row in Model)
        {
            <div class="@(row.isRow ? "row": null) @row.className" style="@(row.hide ? "display: none;" : null)">
                <div class="@row.ContentSize" id="@row.id">
                    @row.contentText
                </div>
                @await GetList(row.contents)
            </div>

        }

    }
    

@functions {
    public async Task<HtmlContentBuilder> GetList(List<CardRow> list)
    {
        var str = new HtmlContentBuilder();
        GetChildList(str, list);
        return str;
    }

    private void GetChildList(HtmlContentBuilder str, List<CardRow> list)
    {
        foreach (var cardRow in list)
        {
            str.AppendFormat("<div class='{0}' id='{2}' {3} >{1}</div>",
             cardRow.ContentSize,                               //0
             cardRow.contentText,                               //1
             cardRow.id,                                        //2
             (cardRow.hide ? " style='display: none;'" : null)    //3
            );
            if (cardRow.contents.Count > 0)
            {
                GetChildList(str, cardRow.contents);
            }
        }
    }
}